<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAo3N88QMKQ-YBGF9ytTZcRyaqa13cgVQU</string>
	<key>GCM_SENDER_ID</key>
	<string>94600198569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.agentDoctor</string>
	<key>PROJECT_ID</key>
	<string>proyekagentdoctor</string>
	<key>STORAGE_BUCKET</key>
	<string>proyekagentdoctor.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94600198569:ios:b2317f92e37a9c74bd6cb8</string>
</dict>
</plist>